<section class="w-full flex justify-center items-center px-[1rem] py-32">
  <div class="max-w-[700px] w-full">
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step label="Forget Password" [completed]="forgetPasswordStatus()">
        <app-forget-password-form
          (forgetPasswordData)="getForgetPasswordData($event)"
          (forgetPasswordStatus)="setForgetPasswordStatus($event)"
        ></app-forget-password-form>
      </mat-step>

      <mat-step label="Verification" [completed]="verificationStatus()">
        <app-verification-form
          (verificationStatus)="setVerificationStatus($event)"
        ></app-verification-form>
      </mat-step>

      <mat-step label="New Password" [completed]="newPasswordStatus()">
        <app-new-password-form
          (newPasswordStatus)="setNewPasswordStatus($event)"
          [forgetPasswordData]="forgetPasswordData()"
        ></app-new-password-form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>
