<div class="md:grid md:grid-cols-5 h-[250px] md:h-[350px]">
  <div class="swiper mainSwiper md:col-span-4 h-full w-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="images/slider-image-1.jpeg" alt="vegetables" />
      </div>
      <div class="swiper-slide">
        <img src="images/slider-image-2.jpeg" alt="sweets" />
      </div>
      <div class="swiper-slide">
        <img src="images/slider-image-3.jpeg" alt="vegetables" />
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Right sidebar -->
  <div class="right hidden md:flex md:col-span-1 flex-col h-full">
    <img src="images/blog-img-1.jpeg" alt="vegetables" />
    <img src="images/grocery-banner-2.jpeg" alt="breads" />
  </div>
</div>
