<form [formGroup]="forgetPasswordForm" (submit)="forgetPassword()" class="mt-4">
  <mat-form-field class="w-full mb-2">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" required />
    @if (getControl('email')?.hasError('email') && !getControl('email')?.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    } @if (getControl('email')?.hasError('required')) {
    <mat-error>Email is required</mat-error>
    }
  </mat-form-field>

  <button
    type="submit"
    [disabled]="isSubmitting() || forgetPasswordForm.invalid"
    [class.disabled-btn]="isSubmitting() || forgetPasswordForm.invalid"
    type="submit"
    class="main-btn ms-auto block"
  >
    @if (isSubmitting()) {
    <i class="fas fa-spinner fa-spin fa-fw"></i>
    } submit
  </button>
</form>
