$color-gray: #21313c;
$color-light: #f0f3f2;
$color-green: #0aad0a;
$color-dark-green: #0d790d;
$color-white: #fff;
$color-black: #000;
$color-error: #dc2626;
$color-info: #3b82f6;
$color-warning: #f59e0b;
