<form [formGroup]="newPasswordForm" (submit)="resetPassword()" class="mt-4">
  <mat-form-field class="w-full mb-2">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      matInput
      [type]="hidePassword() ? 'password' : 'text'"
      required
      autocomplete="new-password"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility($event)"
      [attr.aria-label]="hidePassword() ? 'Show password' : 'Hide password'"
      type="button"
    >
      <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (getControl('password')?.hasError('minlength') &&
    !getControl('password')?.hasError('required')) {
    <mat-error>At least 6 characters</mat-error>
    } @if (getControl('password')?.hasError('maxlength') &&
    !getControl('password')?.hasError('required')) {
    <mat-error>At most 20 characters</mat-error>
    } @if (getControl('password')?.hasError('required')) {
    <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-full mb-2">
    <mat-label>Confirm Password</mat-label>
    <input
      formControlName="rePassword"
      matInput
      [type]="hideConfirmPassword() ? 'password' : 'text'"
      autocomplete="new-password"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="toggleConfirmPasswordVisibility($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirmPassword()"
    >
      <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (getControl('rePassword')?.hasError('passwordMismatch') &&
    !getControl('rePassword')?.hasError('required')) {
    <mat-error>Passwords do not match</mat-error>
    } @if (getControl('rePassword')?.hasError('required')) {
    <mat-error>Confirm password is required</mat-error>
    }
  </mat-form-field>

  <button
    type="submit"
    [disabled]="isSubmitting() || newPasswordForm.invalid"
    [class.disabled-btn]="isSubmitting() || newPasswordForm.invalid"
    type="submit"
    class="main-btn ms-auto block"
  >
    @if (isSubmitting()) {
    <i class="fas fa-spinner fa-spin fa-fw"></i>
    } submit
  </button>
</form>
